<div id="toastHookHandler" phx-hook="Toast"></div>
<h3>Your code is</h3>
<div class="code"><%= if @loaded do %><%= @code %><% else %>Loading<% end %></div>
<form phx-submit="submit">
  <input type="text" name="code" placeholder="Code" autocomplete="off">
  <input type="text" name="txt" placeholder="Text" autocomplete="off">
  <div class="wrapper"><button type="submit">Send</button></div>
</form>

<%= for m <- @msgs do %>
  <div class="msgbox">
    <p><%= m %></p>
  </div>
<% end %>
